@import url('https://fonts.googleapis.com/css2?family=Moulpali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #5EACE3;
    position: fixed;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 0px 13px #333;

}

header ul {
    font-family: 'Moulpali', cursive;
    display: flex;
    list-style: none;
    gap: 1rem;
}

header ul a {
    color: #00365c;
    font-size: 20px;
    padding: 10px;
    display: inline-block;

}

header ul a:hover {
    color: #ffffff;
    transition: .3s;
    text-shadow: 0px 0px 5px #333;
}

header nav {
    display: flex;
    justify-content: space-around;
}


body {
    font-family: 'Poppins', sans-serif;


}



.container {
    margin: auto;
    max-width: 900px;
}


main #home {
    padding-top: 10rem;
    color: #ffffff;
    text-shadow: 0px 0px 5px #9c9b9b;
    background: linear-gradient(180deg, #5EACE3 0%, rgba(217, 217, 217, 0) 100%);
    min-height: 600px;
    background-repeat: no-repeat;
}

main #home .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

main .ilha img {
    position: relative;
    max-width: 100%;
    animation-name: respiration;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

main section span {
    font-size: 25px;

}

main section span.ima {
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 1rem;
}


h1 {
    font-size: 40px;
    line-height: 40px;
}

main section .typewriter {
    /* color: #3397df;
    line-height: 25px;
    overflow: hidden;
    border-right: .15em solid #3397df;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: type 0.7s steps(40, end), blink-caret .75s step-end infinite;
    display: inline-block; */



}


#id_download a {
    padding: 1rem;
    background-color: #5EACE3;
    border-radius: 2rem;
    color: #fff;
    box-shadow: 1px 3px #333;
    display: inline-block;
    transition: 1s;
}

#id_download a:hover {
    box-shadow: none;
}

.icon-list {
    list-style: none;
    display: flex;
}

.icon-list img {
    width: 50px;
    margin: 10px;
}

.icon-list img:hover {
    width: 70px;
    margin: 0px;

}

@keyframes respiration {
    from {
        top: 0%;
    }

    to {
        top: 10%;
    }
}

@keyframes type {
    from {
        width: 0%;
    }

    to {
        width: 140px;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #3397df;
    }
}




#card-section h2 {
    text-align: center;
    margin-bottom: 5rem;

}

section#card-section {
    padding: 3rem 0;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(94, 172, 227, 0.21) 100%);
}

#card-section .card img {
    width: 7rem;

}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;


}

#card-section .card {
    border-bottom: 10px solid #5EACE3;
    border-top: 5px solid #5EACE3;
    border-radius: 2rem;
    box-shadow: 0px 2px 10px #333;
    position: relative;
    height: 200px;
    transition: 1s;
    background-color: #ffffff;
    overflow: hidden;
    padding: 5px;

}


#card-section .card .card-header {
    z-index: 1;
    background-color: #ffffff;
    width: 100%;
    border-radius: 2rem;
    padding: 5px;
    text-align: center;
    position: relative;
}


#card-section .card .card-body {
    /* transition: 1s;
    position: absolute;
    top: 0;
    left: 5px;
    right: 5px;
    z-index: 0;
    opacity: 0;
    transition-delay: 0.5s; */

}

#card-section .card:hover {
    height: 500px;



}




#card-section h3 {
    margin-bottom: 2rem;
}

#card-section a {
    background-color: #5EACE3;
    border-radius: .5rem;
    margin: 3rem 0 1rem;
    padding: 1rem;
    display: inline-block;
    transform: translateX(-50%);
    position: relative;
    left: 50%;

}

#goal {
    padding: 10vh 0vh;
    min-height: 600px;
}

#goal .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 10vh 0vh;
    min-height: 600px;
}

#goal .container-image {
    position: relative;


}

#goal .container-image img {
    position: absolute;
    animation-name: respiration2;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

#goal .container-image .drop-bottom {
    top: 80px;
    left: 120px;
    animation-name: unset;
}

#goal .container-image .character {
    top: 140px;
    left: 220px;
    width: 230px;
    z-index: 2;
    animation-delay: 1, 8s;
}

#goal .container-image .screen {
    top: 100px;
    left: 270px;
    z-index: 1;
    animation-delay: 1s;
}

#goal .container-image .planet-element {
    top: 300px;
    left: 150px;
    z-index: 3;
    animation-delay: .8s;
}

#goal .container-image .triangle-element {
    top: 150px;
    left: 150px;
    z-index: 4;
    animation-delay: 2.7s;
}

#goal .container-image .sphere-element {
    top: 200px;
    left: 300px;
    width: 100px;
    z-index: 4;
    animation-delay: 1.7s;

}

@keyframes respiration2 {
    from {
        padding-top: 0;
    }

    to {
        padding-top: 10px;
    }
}


#goal .container-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

footer {
    background-color: #0060A6;
    padding: 20px;
    text-align: center;
    color: #ffffff
}


@media (min-width:1440px) {
    .container {
        max-width: 1100px;
    }
}

@media (max-width:426px) {
    .container {
        max-width: 300px;
    }

    main #home .container {
        display: grid;
        grid-template-columns: 1fr;

    }

    body {
        background: linear-gradient(180deg, #5EACE3 0%, rgba(217, 217, 217, 0) 100%);
        background-repeat: no-repeat;
    }

    .card-container {
        grid-template-columns: 1fr;
    }

    #card-section .card,
    #card-section .card:hover {
        height: unset;
    }
}